<aside toggle-nav>
    <span class="toggle-icon">
        <i class="icon-aw-angle-double-right"></i>
    </span>
    <ul class="menu-level-1">
        <li *ngFor="let item of sideMenu.sideMenuList" [ngClass]="{'level2-active':sideMenu.activeSubMenu==item.keywords,'has-child':item.child.length>0}">
            <a *ngIf="!item.href" (click)="toggle(item)">
                <span><i class="{{item.icon}}"></i><b>{{item.text}}</b></span>
                <i class="icon-arrow"></i>
            </a>
            <a *ngIf="item.href" routerLink='{{item.href}}' routerLinkActive="active">
                <span (click)="sideMenu.activeSubMenu=item.keywords"><i class=""></i><b>{{item.text}}</b></span>
            </a>
            <a class="close-show-title" *ngIf="item.child.length<1" routerLink='{{item.href}}'>{{item.text}}</a>
            <ul class="menu-level-2" *ngIf="item.child.length>0">
                <li *ngFor="let subItem of item.child">
                    <a routerLinkActive="sub-active"  routerLink='{{subItem.href}}'>
                        <span><i class="pointer"></i>{{subItem.text}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>

